In [49]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler

"""
Created on Tue Sep 20 13:42:11 2022

@author: Junhyun
"""

def EDA_kmeans(X, k):
    """

    Parameters
    ----------
    X : array
        데이터
    k : int
        클러스터의 개수

    Returns
    -------
    clusterX.

    """
    if isinstance(X, np.ndarray):
        X = pd.DataFrame(X)
    
    # Standard Scaler
    scaler = StandardScaler()
    scaler.fit(X)
    scaled_X = scaler.transform(X)
    
    kmeans = KMeans(n_clusters=k, random_state=0).fit(scaled_X)
    clusterX = np.concatenate([X, kmeans.labels_.reshape(len(X),1)], axis=1)
    
    colname = X.columns.tolist()
    colname.append('Cluster')
    clusterX = pd.DataFrame(clusterX, columns=colname)
    
    return(clusterX)

# =============================================================================
# from sklearn.datasets import load_iris
# X = load_iris(as_frame=True)['data']
# kdat = EDA_kmeans(X, k=3)
# =============================================================================

In [50]:
from sklearn.datasets import load_iris
X = load_iris(as_frame=True)['data']
col = [X.columns, 'Cluster']

In [51]:
kdat = EDA_kmeans(X, k=3)

In [52]:
kdat

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Cluster
0,5.1,3.5,1.4,0.2,1.0
1,4.9,3.0,1.4,0.2,1.0
2,4.7,3.2,1.3,0.2,1.0
3,4.6,3.1,1.5,0.2,1.0
4,5.0,3.6,1.4,0.2,1.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,0.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,0.0