In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('./data/사출6호기테스트.csv', header=None, encoding='euc-kr')

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,113,114,115,116,117,118,119,120,121,122
0,0,정상,132564,MC_06,사출 6호기,2022-06-29 9:25,20269,2.4,1.4,4.9,...,0,0,0,0,0,0,30,25,0.1,0.2
1,0,정상,132574,MC_06,사출 6호기,2022-06-29 9:29,20270,2.4,1.4,4.6,...,0,0,0,0,0,0,30,25,0.1,0.2
2,0,정상,132578,MC_06,사출 6호기,2022-06-29 9:30,20271,2.4,1.4,4.3,...,0,0,0,0,0,0,30,25,0.1,0.2
3,0,정상,132580,MC_06,사출 6호기,2022-06-29 9:31,20272,2.4,1.4,4.2,...,0,0,0,0,0,0,30,25,0.1,0.2
4,0,정상,132583,MC_06,사출 6호기,2022-06-29 9:32,20273,2.4,1.4,4.3,...,0,0,0,0,0,0,30,25,0.1,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3228,0,정상,141111,MC_06,사출 6호기,2022-06-30 23:49,774,1.2,0.7,1.6,...,0,0,0,0,0,0,50,8,0.1,0.2
3229,0,정상,141112,MC_06,사출 6호기,2022-06-30 23:50,775,1.2,0.7,1.9,...,0,0,0,0,0,0,50,8,0.1,0.2
3230,0,정상,141114,MC_06,사출 6호기,2022-06-30 23:50,776,1.2,0.7,1.6,...,0,0,0,0,0,0,50,8,0.1,0.2
3231,0,정상,141116,MC_06,사출 6호기,2022-06-30 23:51,777,1.2,0.7,1.9,...,0,0,0,0,0,0,50,8,0.1,0.2
3232,0,정상,141119,MC_06,사출 6호기,2022-06-30 23:51,778,1.2,0.7,1.6,...,0,0,0,0,0,0,50,8,0.1,0.2